# See https://pre-commit.com for more information
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: mixed-line-ending

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
    language_version: python3
    entry: black --target-version=py36

- repo: https://github.com/remastr/pre-commit-django-check-migrations
  rev: v0.1.0
  hooks:
    - id: check-migrations-created
      args: [--manage-path=manage.py]
      additional_dependencies: [django==4.1]
