[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.black]
target-version = ['py37', 'py38', 'py39', 'py310']
skip-string-normalization = true
include = '\.pyi?$'


[tool.poetry]
name = "django-eav2"
description = "Entity-Attribute-Value storage for Django"
version = "1.2.2"
license = "GNU Lesser General Public License (LGPL), Version 3"
packages = [
  { include = "eav" }
]


authors = [
  "Mauro Lizaur <mauro@sdf.org>",
]

readme = "README.md"

repository = "https://github.com/jazzband/django-eav2"

keywords = [
  "django",
  "django-eav2",
  "database",
  "eav",
  "sql",
]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Web Environment",
  "Framework :: Django",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: GNU Library or Lesser General Public License (LGPL)",
  "Programming Language :: Python",
  "Topic :: Database",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Framework :: Django",
  "Framework :: Django :: 2.2",
  "Framework :: Django :: 3.2",
  "Framework :: Django :: 4.0",
]

[tool.poetry.dependencies]
python = "^3.7"
django = ">=2.2, <4.1"
django-jsonfield-backport = "^1.0.4"

# Docs extra:
sphinx = { version = "^5.0", optional = true }
sphinx-autodoc-typehints = { version = "^1.12", optional = true }
m2r2 = { version = "^0.3", optional = true }
tomlkit = { version = "^0.11", optional = true }
doc8 = "^0.11.2"
sphinx-rtd-theme = "^1.0.0"


[tool.poetry.dev-dependencies]
mypy = "^0.971"

wemake-python-styleguide = "^0.16"
flake8-pytest-style = "^1.6"
nitpick = "^0.32"

safety = "^2.1"

pytest = "^6.2"
pytest-cov = "^3.0"
pytest-randomly = "^3.12"
pytest-pythonpath = "^0.7.4"
pytest-django = "^4.5.2"
black = "^22.6"
hypothesis = "^6.54.2"

[tool.poetry.extras]
docs = [
  "sphinx",
  "sphinx-autodoc-typehints",
  "sphinx_rtd_theme",
  "m2r2",
  "tomlkit",
]
